@import 'src/variables';

#site-footer {
  text-align: center;
  padding-bottom: 10px;
}

footer {
  #support-bar {
   margin-bottom: 10px;
 }

 #turner-industries-logo {
   width: 150px;
 }

 a {
   color: $brand-primary;
 }
}
